// Colours
$brand-color: #409EFF;
$success: #67C23A;
$warning: #E6A23C;
$danger: #F56C6C;
$info: #909399;

// Text
$primary-text: #303133;
$regular-text: #606266;
$secondary-text: #909399;
$placeholder-text: #C0C4CC;

// Borders
$base-border: #DCDFE6;
$light-border: #E4E7ED;
$lighter-border: #EBEEF5;
$extra-light-border: #F2F6FC;

// Neutral
$basic-black: #000000;
$basic-white: #FFFFFF;
