// Colours
$brand-color: #409eff;
$success: #67c23a;
$warning: #e6a23c;
$danger: #f56c6c;
$info: #909399;

// Text
$primary-text: #303133;
$regular-text: #606266;
$secondary-text: #909399;
$placeholder-text: #c0c4cc;

// Borders
$base-border: #dcdfe6;
$light-border: #e4e7ed;
$lighter-border: #ebeef5;
$extra-light-border: #f2f6fc;

// Neutral
$basic-black: #000;
$basic-white: #fff;
